
<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Leave_type</th>
    <th>Date_from</th>
    <th>Date_To</th>
    <th>Days</th>
    <th>Reason</th>
    
  </tr>
 
  <% @leave.each do |leave| %>
    <tr>
      <td><%= leave.ltype %></td>
      <td><%= leave.datefrom %></td>
      <td><%= leave.dateto %></td>
      <td><%= leave.days %></td>
      <td><%= leave.reason %></td>
      <td><%= link_to 'Show', leave__view_path(leave) %></td>
    </tr>
  <% end %>
</table>