<p class="navbar-text float-right">

<%= form_with scope: :project, url: projects_path, local: true do |form| %>
  
    <p>
      <%= form.label :user_email %><br>
      <%= form.text_field :user_email, :value => current_user.email, readonly: true %>
    </p>
   
    <p>
      <%= form.label :project_name %><br>
      <%= form.text_field :project_name %>
    </p>
    
  
    <p>
      <%= form.label :start_date %><br>
      <%= form.text_field :start_date %>
    </p>
  
    <p>
      <%= form.label :end_date %><br>
      <%= form.text_field :end_date %>
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  
 
