<p class="navbar-text float-right">

<%= form_with scope: :member, url: members_path, local: true do |form| %>
  
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </p>
    
  
    <p>
      <%= form.label :team_name %><br>
      <%= form.text_field :team_name %>
    </p>
  
    <p>
      <%= form.label :project_name %><br>
      <%= form.text_field :project_name %>
    </p>

    <p>
      <%= form.label :position %><br>
      <%= form.text_area :position %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  